body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Hide horizontal overflow */
  font-family: 'Roboto', sans-serif;
}

#menu {
  margin: 0 auto; /* Center the container horizontally */
  padding: 1rem;
  max-height: 80vh; /* Set maximum height to 80% of the viewport height */
  overflow-y: scroll; /* Enable vertical scroll */
  display: flex;
  flex-direction: column; /* Stack menu items vertically */
  align-items: center; /* Center menu items horizontally */
  text-align: left; /* Reset text alignment for the menu items */
}

header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 100px; /* Adjust the width of the logo as needed */
  height: auto; /* Maintain aspect ratio */
  margin-right: 1rem; /* Add some spacing between the logo and the text */
}

#menu img {
  max-width: 100%; /* Ensure the image fits within its container */
  margin-bottom: 1rem; /* Add some spacing between the image and the menu items */
}

.menu-item {
  width: 50%; /* Set width to 50% of the container's width */
  margin-bottom: 1rem; /* Add some spacing between items */
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.menu-item:hover {
  background-color: #f5f5f5;
}

#cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  background-color: #fff;
  padding: 1rem;
  border-left: 1px solid #ddd;
  height: 100%;
  overflow-y: auto;
  box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.hidden {
  display: none;
}

#cartItems {
  margin-bottom: 1rem;
}

.cart-item {
  margin-bottom: 0.5rem;
}

#cartTotal {
  font-weight: bold;
  margin-bottom: 1rem;
}

button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #555;
}
